button {
    cursor: pointer;
}

body {
    @include body;
    background-color: transparent;
}

html {
    background: url(https://i.imgur.com/SQoaH4b.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

input {
    border: none;

    &:focus {
        outline: none;
    }
}

button {

}