// Gutter 
$grid-gutter-desktop: 30px;
$grid-gutter-mobile: 15px;

// Grid sizes
$grid-medium-max-width: 1500px !default;
$grid-small-max-width: 1230px !default;

// Spacing
$spacing-navigation: 80px;
$spacing-navigation-mobile: 40px;