.pending {
    background-color: white;
    width: 100%;
    border-radius: 5px;
    padding: 30px;

    @include media-breakpoint-down(sm) {
        padding: 15px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__header {
        flex: 70%;
    }

    &__title {
    }

    &__description {
    }

    &__modal {
        padding: 30px;
        margin: 20vh auto;
        min-height: 200px;
        width: 70%;
        background-color: white;
        border-radius: 10px;

        @include media-breakpoint-down(sm) {
            padding: 15px;
            width: 90%;
        }

        &__header {
            font-weight: bold;
        }

        &__description {
            padding-bottom: 10px;
        }

        &__date {
            font-weight: bold;
            padding-left: 5px;
        }

        &__buttons {
        }

        &__button {
            margin: 10px 0px;
            @include media-breakpoint-up(md) {
                margin-right: 10px;
            }
        }

        &__button-decline {
            background-color: red !important;
        }

        &__request {
            padding-bottom: 10px;
        }
    }
}
