.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: $navigation-height;
    margin-bottom: $spacing-navigation;

    &__logo {
        @include logo;
        color: white;
    }

    &__links {
        display: flex;
    }

    &__link {
        height: 24px;
        margin: 0 20px;
        color: white;
        white-space: nowrap;
        letter-spacing: 1.5px;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid $brand-color;
        }
    }
}

.navigation--mobile {
    margin-bottom: $spacing-navigation-mobile;
    padding: 6px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__icon {
        height: 16px;
    }

    &__logo {
        @include logo;
        color: white;
    }

    &__menu {
        position: absolute;
        left: 0;
        top: 0;
        width: 55vw;
        max-width: 180px;;
        z-index: 10;
        background-color: black;
    }

    &__close {
        color: white;
        padding: 10px;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__link {
        height: 24px;
        margin: 10px 20px;
        color: white;
        white-space: nowrap;
        font-size: 12px;
        letter-spacing: 1.5px;
        cursor: pointer;
    }
}

.link--active {
    border-bottom: 2px solid $brand-color;
}