.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: $navigation-height;
    margin-bottom: $spacing-navigation;
    color: $Impact-White;

    &__logo {
        @include logo;
        color: $Impact-White;
    }

    &__links {
        display: flex;
    }

    &__link {
        color: $Impact-White;
        height: 24px;
        margin: 0 20px;
        white-space: nowrap;
        letter-spacing: 1.5px;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid $Impact-Brand;
        }
    }
}

.navigation--mobile {
    color: $Impact-White;
    margin-bottom: $spacing-navigation-mobile;
    padding: 6px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__icon {
        height: 16px;
    }

    &__logo {
        color: $Impact-White;
        @include logo;
    }

    &__menu {
        padding: 5px;
        position: absolute;
        left: 0;
        top: 0;
        max-width: 220px;
        z-index: 10;
        background-color: black;
    }

    &__close {
        padding: 5px;
        img {
            padding-right: 5px;
            width: 28px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__link {
        color: $Impact-White;
        height: 24px;
        margin: 10px 20px;
        white-space: nowrap;
        letter-spacing: 1.5px;
        cursor: pointer;
    }
}

.link--active {
    border-bottom: 2px solid $Impact-Brand;
}
