.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: $navigation-height;
    margin-bottom: $spacing-navigation;

    &__logo {
        @include logo;
        color: white;
    }

    &__links {
        display: flex;
    }

    &__link {
        height: 24px;
        margin: 0 20px;
        color: white;
        white-space: nowrap;
        letter-spacing: 1.5px;

        &:hover {
            border-bottom: 2px solid $brand-color;
        }
    }


}