.add-request {
    &__reset-button {
        margin-right: 10px;
        border-radius: 5px;
    }

    &__project {
        margin: 5px 0px 15px 0px;
    }

    &__description {
        margin: 15px 0;
    }

    &__dropdown {
        &-wrapper {
        }
    }

    &__selected {
        padding-bottom: 10px;
        &-header {
            padding-bottom: 5px;
            font-weight: bold;
        }

        &-dates {
            display: flex;
        }

        &-date {
            display: flex;
            flex: 1;
            justify-content: space-evenly;
        }
    }
}

.DayPicker {
    &:focus {
        outline: none;
    }
    &-Month {
        margin: 0 !important;
        margin-top: 1em !important;
    }
    &-Day {
        &--today {
            color: $Impact-Black !important;
        }
    }
}

.Selectable
    .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
}
.Selectable .DayPicker-Day {
    border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
}
