.login {
    margin: 0 auto;
    @include make-col(6);
    height: auto;
    background-color: white;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
        margin: 0 auto;
        @include make-col(10);
        height: auto;
        background-color: white;
        border-radius: 5px;
    }


    @include media-breakpoint-down(xs) {
        margin: 0 auto;
        @include make-col(12);
        height: auto;
        background-color: white;
        border-radius: 5px;
    }

    &__container {
        position: relative;
        padding: 15px;
    }

    &__header {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    &__form {
        position: relative;
        padding: 10px;
    }

    &__input {
        width: 100%;
        height: 30px;
        margin: 10px 0;
        border-bottom: 1px solid gray;
    }

    &__submit {
        border-radius: 5px;
    }
}