.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inherit;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &__backdrop {
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.6);
    }

    &__container {
        position: relative;
    }

    &__exit-button {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 22px;
        height: 22px;
        z-index: 2;
        cursor: pointer;
    }
}
