@import "../../app.styles";
@import "../../components/home/home.styles";
@import "../../components/login/login.styles";
@import "../../components/holiday-request/holiday-request.styles";
@import "../../components/holiday-request/active-request/active-request.styles";
@import "../../components/add-holiday-request/add-holiday-requests.styles";
@import "../../components/add-holiday-request/add-request/add-request.styles";
@import "../../components/pending/pending.styles";
